@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_100.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_300.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_500.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_700.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_900.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_100_Italic.otf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_300_Italic.otf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_500_Italic.otf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_700_Italic.otf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: museosans;
    src: url('/webassets/fonts/MuseoSans_900_Italic.otf');
    font-weight: 900;
    font-style: italic;
}


@media(max-width:767px){

}

@media(max-width:600px){
#pageFooterDrop {
/* DG
    visibility: hidden;
    display: none;
*/
    }
}

@media screen and (max-width:400px){
  #pageFooterDrop {
	  
/*
    visibility: hidden;
    display: none;
*/
  }
}

html{
    height: 100%;
}
body {
    min-height: 100%;
    color: #474747;/* #292929 */
    font-size: 13px;
    font-family: museosans;
    font-weight: 300;
    background-color: #f7f9fa;
}
a, a:hover, a:focus{
    color: #707070;
}
h1, h2, h3, h4, h5 {
    font-family:museosans;
    font-weight: 500;
    color: #474747;
}
input[type="checkbox"],input[type="radio"]{
    margin: 0px 8px;
}
.main {
    max-width: 1080px;
    margin: 0 auto;
    /*background: url('/webassets/images/redbackground.png');*/
}

.hr {
    width: 90%;
    margin-top: 10px;
    border-top: 2px solid #646464;
    margin-bottom: 10px;
}
#popupWrap{
    display: none;
    background-image: url('/webassets/images/shadow.png');
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
    max-width: 980px;
    margin: 0 auto;
}
#popupWrap2{
    display: none;
    background-image: url('/webassets/images/shadow.png');
    position: absolute;
    z-index: 1040;
    width: 100%;
    height: 100%;
    max-width: 980px;
    min-height: 600px;
    margin: 0 auto;
}
.flashMobile{
    padding: 0px;
    background-color: white;
    color: black;
    width: auto;
    border-radius:8px;
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
}
.flashMobile2{
    padding: 0px;
    background-color: #000000;
    color: black;
    width: auto;
    border-radius:8px;
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
}
.flashMobile a{
    color: #20104c;
    font-size: 20px;
}
#flashMobileHeader {
    padding-top: 18px;
    margin: 0px;
    color: black;
}
.flashMobileContents{
    padding:16px;
}
.flashMobileContents2{
    padding:16px;
}
.flashMobileButton{
    padding:0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.okButton {
    padding: 10px;
    cursor: pointer;
}

.errorMessage {
    color:red;
}

.caption h3 {
    max-width: 279px;
}

.logoBaldinis {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.pageLogo {
    color: #ffffff;
    font-size: 32px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
/* baldini's side navigation menu css */
.menu_simple ul {
background: none;
position: absolute;
margin: 70px;
top:120px;
padding: 0px;
left:-40px;
width:195px;
list-style-type: none;
}

.menu_simple ul li a {
background: none;
text-decoration: none;
color: #FFFFFF;
 text-shadow: 2px 4px 3px rgba(0,0,0,1);
padding: 10.5px 11px;
  border-left: #A6750D 3px solid;
  border-right: #580201 4px solid;
  border-top: #580201 1px solid;
  border-bottom: #700404 2px solid;
  border-radius: 5px;
display:block;
text-align: left;
}


.menu_simple ul li a:hover, .menu_simple ul li .current {
color: white;
background-color: #000000;
border-right: #A6750D 4px solid;
border-left: #000000 3px solid;

}

.congrats-buttons {
    margin-top: 20px;
}

/****************/


/*#videoContainer {
    cursor:pointer;
    width:329px;
    height:289px;
    display: block;
    margin-left: 50px;
    background: url(/webassets/images/previewIframe.png) no-repeat top left;
}*/

span.required{
    color:red;
}

.red{
    color:red;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
    color: black;
    background-color: #ffffff;
    font-weight: bold;
}
#pageFooter{
    background-color:#2c2c2c;
    min-height: 40px;
    color: #ffffff;
}
#pageFooter a{
    color: #707070;
}

#pageFooterDrop {
    background-color: #3a3a3a;
    height: 132px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

#pageFooterDrop.mobile-hide {
    visibility: hidden;
}

.centerDrop {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#sponsorLogo {
    background-color: #2c2c2c;
    height: 43px;
    vertical-align: bottom;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.paymentOptionsTop {
    max-width:150px;
    min-height: 186px;
    width: 100%;
    height: 100%;
    border: 4px solid #FF0000;
    float: left;
    margin-right: 14px;
}

.paymentOptionsBottom {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    float: left;
    margin-right: 16px;
}

.table {
/*    background-color: #ffffff;*/
}

.newItem {
    background-color: #dfdfdf;
}

.table > tbody > tr {
    background-color: #f7f9fa;
    margin: 5px;
    border-top: 3px solid #ffffff;
}

tr.odd, tr.odd a{
/*    font-size:12px;*/
    font-weight: 700;

}
.table > tbody > tr.odd{
    overflow:hidden;
    background-color:#303030;
    border-top: none;
}

.table > thead > tr > th {
    border-bottom: 2px solid #1d1d1d;
}

.table > tbody > tr.even{
    overflow:hidden;
    background-color: #292929;
    border-top: none;
}

tr.odd:hover, div.odd:hover a
{
    background-color:#eeeeee;
    cursor: pointer;
    color:#474747;
}

tr.even, tr.even a{
/*    font-size:12px;*/
    font-weight: 700;
/*    background-color:#eeeeee;*/
}

tr.even:hover, tr.even:hover a
{
    background-color:#292929;
    cursor: pointer;
    color:#474747;
}

td.alignLeft {
    border-right: 1px solid #424242;
    border-top: none;
}

.btn-default.selected {
    background-color: #efefef !important;
    border-color: #f9d83d;
}

.btn-default.selected:hover {
    border-color: #f9d83d;
    background-color: #efefef !important;
    color: #474747 !important;
}
.alignLeft{
    text-align: left;
    clear: both;
}

#aboutDrop {
/*    float: left;*/
    color: #707070;
    padding: 20px;
}

#helpDrop {
/*    float: left;*/
    color: #707070;
    padding: 20px;
}

#legalDrop {
/*    float: left;*/
    color: #707070;
    padding: 20px;
}

.dropHead {
    font-weight: 900;
}

#topPlayersContainer {
    background-color: #F0F0F0;
}

#topPlayersTitle {
    text-transform:uppercase;
}

.thumbnail {
    border: none;
    max-width: 300px;
/*    max-height: 250px;*/
    padding: 0px;
}

.thumbnail .caption {
    padding: 0px;
    color: inherit;
}

.thumbnail .description {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 10px 0px;
    max-height: 200px;
    color: inherit;
}

.borderBottom {
/*    border-bottom: 1px solid #dddddd;*/
    margin-bottom: 20px;
}

.subContainer {
    text-align: center;
    padding: 10px;
    /*    max-width: 1200px;*/
    margin: 0 auto;
}

.lead {
    font-size: 16px;
    color: #474747;
}

.img-responsive {
    max-height: 128px;
    display: inline;
}

.btn-default {
    background-color: #f9d83d !important;
    border-color: #f9d83d;
}

.btn-default.active {
    border-color: #f9d83d;
}

.btn-default:hover {
    background-color: #f9d83d !important;
    border-color: #f9d83d;
}

.btn-default.active:hover {
    border-color: #f9d83d;
}

.btn-default-inverse.active:hover {
    border-color: #f9d83d;
}

.btn-default  {
    color: #474747 !important;
    font-weight: 400;
}

.btn-default-inverse  {
    color: #474747 !important;
    font-weight: 400;
}

.startButton {
    min-height: 33px;
    min-width: 131px;
    margin-left: 13px;
    padding: 8px 10px;
    font-size: 14px;
}

.startButton2 {
    min-height: 43px;
    min-width: 182px;
/*    margin-left: 13px;*/
    padding: 8px 10px;
    font-size: 19px;
}

.btn-default:hover  {
    color: #ffffff !important;
}

.btn-default-inverse:hover  {
    color: #35aae5 !important;
}

.btn-default:hover  {
    color: #ffffff !important;
}

#pageHeader {
    height: 4px;
/*    background-image:url("../images/pageHeaderBackground.png");*/
    background-color: #f9d83d;
    width: 100%;
    margin: 0 auto;
}

.pageHeaderContent {
    margin: 15px 20px 0px 20px;
}

#pageHeadline {
    color: #a8a8a8;
    margin-top: 30px;
}

#pageContainer {
    width: 100%;
    min-height: 600px;
    background-color: #ffffff;
    margin: 0 auto;
    /*background: linear-gradient(#ffffff, #79c7db);*/
    /*background:-webkit-linear-gradient(top,#ffffff 0%,#79c7db 99%);  for Safari 5.1+ */
    /*    min-height: 100%;
        height: 100%;*/
}

.flashes{
    text-align:center;
}
.flash-error{
    padding:3px 0px 3px 0px;
    background:#F00;
    color:#FFF;
}
.flash-success{
    padding:3px 0px 3px 0px;
    background:#df9721;
    color:#ffffff;
}
.flash-message{
    padding:3px 0px 3px 0px;
    background:#FF0;
    color:#000;
}

#pageFooter {
    min-height: 40px;
    padding: 10px 12px;
    text-align: center;
    color: #a8a8a8;
    font-size: 10px;
    width: 100%;
    margin: 0 auto;
/*    margin-bottom: 100px;*/
}

#pageFooter a:hover {
    text-decoration: none;
}


/* remove rounded borders on nav */
#pageNavigation {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    border-top-color: #f9d83d;
}

.navbar {
    margin-bottom: 0px;
    min-height: 1em;
}

.navbar-inverse {
    background-color: #474747;
    border-top-color: #f9d83d;
    border-color: #474747;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ffffff;
}
.navbar-inverse .navbar-text {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    line-height: 1em;
    padding: 12px 12px;
    color: #ffffff;
    font-size: 14px;
    text-transform:uppercase;

}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #474747;
    background-color: #f9d83d;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #353536;
}
.navbar-inverse .navbar-toggle {
    margin: 3px 12px;
    border-color: #353536;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #353536;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #ffffff;
}
.navbar-inverse .navbar-link {
    color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #353536;
    }
}

.modal .modal-body {
    /*max-height: 420px;*/
    max-height: 496px;
    overflow-y: auto;
}

#user-login-form .input-group {
    text-align: center !important;
}
/* set nav collapse to 584px */
@media (min-width: 584px) and (max-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-right {
        float: right!important;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .hidden-xs {
        display: block!important;
    }
}

.textBox {
    text-align: left;
}

.dim {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}
.overlay {
    width: 779px;
    height:422px;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-image:url('/webassets/images/record/dialog-box.png');
    color: #000;
}
.overlaytitle {
    padding-top: 5px;
    padding-left: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.overlaybody{
    margin-top: 10px;
    margin-left: 5px;
}
.columnleft {
    margin-left: 5px;
}

.alignRight {
    text-align: right;
}
.columnright {
    width: 540px;
    margin-left: 210px;
    position: absolute;
    top: 23px;
}
.columntitle {
    margin: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #656565;
}
.columnbody {
    padding-left: 7px;
    padding-top: 5px;
    font-size: 14px;
    width: 150px;
}
.recorderinstructions1{
    margin-left: 20px;
    list-style: none;
    list-style-type: disc;
    padding: 0px;
}

.recorderinstructions1 li {
    margin-bottom: 1em;
    font-size: 12px;
}

.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}

html:lang(ar) .floatLeft{
    float:right;
}
html:lang(ar) .floatRight{
    float:left;
}

html[dir='ltr'] .floatLeft{
    float:left;
}
html[dir='ltr'] .floatRight{
    float:right;
}
#shorcodeFlag td {
    vertical-align: top;
}
#shorcodeFlag .img {
    min-width: 100px;
    text-align: left;
}
#shorcodeFlag .img span {
    color: #888888;
}
#shorcodeFlag .code {
    padding: 2px 6px;
    text-align: center;
    /*    font-weight: bold;*/
    text-transform: capitalize;
}
